<section class="container">
	<div  class="form-group jumbotron">
		<h1>Contact Us</h1>
		<p>Have Questions? Contact us using the form below.</p>
		<div class="contact-form">
			<form role="form" action="">
				<label for="exampleInputFile">Name:</label>
				<input class="form-control input" type="text">

				<label for="exampleInputFile">Email:</label>
				<input class="form-control input" type="text">
				
				<label for="exampleInputFile">Message:</label>
				<textarea class="form-control" rows="6" type="text"></textarea>

				<br />
				<button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
			</form>
		</div>
	</div>
</section>